*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# SECURITY: Hide Firebase Configuration
app/google-services.json

# SECURITY: Hide signing secrets
*.jks
*.p12
*.key
google-services.json
